@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    background: transparent;
    color: black;
    display: flex;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
}
.navbar.sticky {
    background: #fff;
    padding: 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a img {
    height: 16px;
    width: 110px;
}
.navbar .menu-list {
    display: inline-flex;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}
.menu-list li {
    padding: 10px;
    list-style: none;
    font-weight: bold;
}
.menu-list li .active {
    color: #0590c7;
}
.menu-list li a:hover {
    color: #0590c7;
}
.menu-list li a {
    color: #a2a2a2;
    display: block;
    text-decoration: none;
    font: normal normal 14px / 22px "arial", Helvetica, Arial, Verdana, sans-serif;
    transition: all 0.3s ease;
}
.menu-list li a:hover {
    color: #007bff;
}
#drop .sub-nav {
    width: 110px;
    z-index: 200;
    background: #fff;
    color: #a2a2a2;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 0;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    font: normal normal 14px / 22px "arial", Helvetica, Arial, Verdana, sans-serif;
    visibility: hidden;
    display: none;
}
#drop {
    position: relative;
}
.sub-nav li a {
    display: block;
    width: 100%;
    padding: 0px;
    font: normal normal 14px / 22px "arial", Helvetica, Arial, Verdana, sans-serif;
}
#drop:hover .sub-nav {
    visibility: visible;
    display: block;
}
#plusBtn {
    position: absolute;
    right: -105px;
    top: 40%;
    font-size: 22px;
    color: #a2a2a2;
    display: none;
}
.banner {
    height: 110px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
}
.icon {
    color: #a2a2a2;
    font-size: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
}
.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/*********************************         Builder-Banner Section       *************************/
.builder-banner-section{
    overflow: hidden;
    margin-bottom: 0px;
}
.builder-banner-wrapper{
    width: 100%;
    background-color: #f2f2f2;
}
.builder-banner-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    position: relative;
}
.builder-banner-content h1{
    font-family: Oswald;
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    color: #333333;
    padding: 0 0 15px 0;
    display: block;
    line-height: 70px;
}
.builder-banner-content p{
    max-width: 350px;
    color: #808080;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 25px;
}
.builder-banner-content a{
    width: 260px;
    text-align: center;
    font-size: 16px;
    padding: 6px;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: all 0.3s ease;
}
.builder-banner-content .vertical-text{
    width: 200px;
    display: block;
    position: absolute;
    left: -5%;
    top: 32%;
}
.builder-banner-content .vertical-text span{
    width: 200px;
    font-weight: 500;
    text-align: center;
    display: block;
    font-size: 16px;
    transform: rotate(270deg);
}
 .builder-banner-content .vertical-text span::before{
    display: block;
    content: "";
    background-color: rgb(0, 0, 0);
    height: 2.5px;
    width: 120px;
    position: absolute;
    right: 85%;
    top: 45%;
}
.builder-banner-content .vertical-text span::after{
    display: block;
    content: "";
    background-color: rgb(0, 0, 0);
    height: 2.5px;
    width: 40px;
    position: absolute;
    left: 85%;
    top: 45%;
} 
.builder-banner-image{
    height: 100%;
    background: linear-gradient(rgba(2,48,66,0.4), rgba(2, 48, 66, 0.4)), url("../../images/builders/Builder-section-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.builder-banner-section .row>* {
    padding-right: 0px !important; 
    padding-left: 60px !important;
}








/*********************************         vechain-feature-section       *************************/
.vechain-feature-section{
    min-height: 270px;
    background-color: #4E5CAB;
}
.feature{
    max-width: 280px;
}
.feature p{
    text-align: center;
    font-size: 16px;
    font-family: tahoma;
    padding: 65px 10px;
    color: #fff;
}
.feature p span{
    font-size: 25px;
    font-weight: bold;
    line-height: 33px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}








/*********************************         vechain-card-section       *************************/
.vechain-card-section{
    width: 100%;
    background-image: url("../../images/builders/Card-Bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
    background-color: #f2f2f2;
}
.vechain-card-section h2{
    font-family: Oswald;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    color: #454545;
    text-align: left;
    padding-left: 18px;
}
.vechain-card-wrapper{
    max-width: 1050px;
    margin: 0px auto;
    padding: 100px 0px 220px 0px;
}
.vechain-card-wrapper .card{
    max-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    border-radius: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    margin-bottom: 25px;
}
.vechain-card-wrapper .card img{
    width: 145px;
    height: 125px;
    margin: 45px auto 30px auto;
}
.vechain-card-wrapper .card h4{
    max-width: 200px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    color: #0590c7;
    display: block;
    padding: 0 0 25px 0px;
    text-align: center;
}
.vechain-card-wrapper .card ul {
    max-width: 260px;
    text-align: left;
    margin: 0;
    padding-left: 15px;
}
.vechain-card-wrapper .card ul li{
    color: #808080;
    font-size: 14px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: 500;
    font-style: normal;
}
.vechain-card-wrapper .card a{
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    border-width: 2px;
    border-color: rgb(107, 55, 166);
    background-color: rgb(107, 55, 166);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 40px auto;
    transition: all 0.6s ease;
}
.vechain-card-wrapper .card a:hover{
    background-color: rgb(62, 23, 105);
    border-color: rgb(62, 23, 105);
}


/*********************************         Funding-Building-Growth Section       *************************/
.funding-building-growth-section{
    width: 100%;
    height: auto;
    background-image: url("../../images/builders/we-can-help-section-bg.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: scroll;
    background-position: left top;
    padding-top: 80px;
    padding-bottom: 220px;
}
.funding-building-growth-section h2{
    font-size: 42px;
    font-weight: bolder;
    font-family: 'Oswald';
    color: #333333;
    padding: 30px 0px;
    text-align: center;
}
.funding-building-growth-bundle{
    max-width: 1050px;
    margin: 40px auto;
    padding: 40px;
}
.funding-building-growth-bundle h4{
    font-size: 23px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
}
.funding-building-growth-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.funding-building-growth-wrapper .funding{
    width: 300px;
    min-height: 210px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(206, 177, 177, 0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px;
    position: relative;
}
.funding-building-growth-wrapper .funding .funding-image{
    width: 60px;
    height: 60px;
    margin: 15px;
    border-radius: 50%;
}
.funding-building-growth-wrapper .funding .funding-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #333;
    border: 1px solid #333;
}
.funding-building-growth-wrapper .funding .funding-content{
    width: 215px;
}
.funding-building-growth-wrapper .funding .funding-content h5 a{
    display: block;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: bold;
    padding: 0px 12px 0px 12px;
    margin-top: 10px;
    cursor: pointer;
}
.funding-building-growth-wrapper .funding .funding-content h5 a:hover{
    color: #0590c7;
}
.funding-building-growth-wrapper .funding .funding-content p{
    font-size: 13px;
    color: #BABABA;
    padding: 5px 10px 0px 12px;
}
.funding-building-growth-wrapper .funding .funding-content .funding-link{
    max-width: 205px;
    position: absolute;
    bottom: 10%;
    left: 62%;
    white-space: nowrap;
    transform: translateX(-50%);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(5, 144, 199);
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.funding-building-growth-wrapper .funding .funding-content .funding-link:hover{
    background-color: rgb(255, 212, 90);
    color:#000;
}












/*********************************         Newsletter Section       *************************/
.newsletter-section{
    background-color: #e5e5e5;
    width: 100%;
    margin-top: -20px;
    padding: 75px 100px;
}
.newsletter-wrapper{
    position: relative;
    max-width: 1140px;
    max-height: 400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 30px 0px;
}
.newsletter-wrapper .newsletter-text{
    padding: 0px 10px 0px 100px;
}
.newsletter-wrapper .newsletter-text h1{
    font-family: revert;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    color: #0a0a0a;
}
.newsletter-wrapper .newsletter-text p{
    font-family: arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #0a0a0a;
    margin: 15px 0px 40px 0px;
}
.newsletter-wrapper .newsletter-image{
    width: 570px;
    height: 400px;
    padding-top: 70px;
    margin-right: -10%;
}
.newsletter-image img{
    height: 300px;
    width: 300px;
}
.newsletter-text a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    height: 50px;
    border: 1px solid rgb(10, 10, 10);
    font-family: arial;
    letter-spacing: 1px;
    background-color: transparent;
    color: rgb(10, 10, 10);
}
/*********************************          Footer Section       *************************/
.footer-section{
    background-color: #023042;
    color: #fff;
}
.footer-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 25px 20px;
}
.footer-wrapper h1{
    font-size: 30px;
    font-family: revert;
    font-weight: 600;
}
.footer-wrapper hr{
    height: 1.5px;
    color: #fff;
    margin: 20px 0 25px 0;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer{
    width: 285px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.footer h4{
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 0 0 0;
}
.footer-items .footer ul li{
    list-style: none;
}
.footer-items .footer ul li a{
    display: block;
    font-size: 12px;
    color: #BFBFBF;
    padding: 5px 0;
    margin-left: -30px;
}
.social-icons li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.social-icons li a img{
    width: 30px;
    height: 30px;
}
.footer-copyright{
    font-size: 12px;
    color: #BFBFBF;
    text-align: center;
    display: block;
}
.footer-copyright a{
    color: #BFBFBF;
    display: inline-block;
}


/*********************************          Responsive Design       *************************/
@media(min-width: 1000px) and (max-width: 1400px){
    .builder-banner-content .vertical-text{
        left: -30%;
    }
}
@media (max-width: 1250px) {
    .content {
        padding: 0 60px;
    }
    .builder-banner-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 5px 70px 15px;
    }
}
@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
    .builder-banner-content{
        padding: 50px 5px 70px 15px;
    }
    .builder-banner-content h1{
        font-size: 45px;
    }
    .funding-building-growth-section {
        padding-bottom: 60px;
    }
}

@media (max-width: 930px) {
    .banner {
        height: 85px;
    }
    .content {
        padding: 0 30px;
        height: 60px;
    }
    .content .logo img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
    }
    .newsletter-wrapper{
        justify-content: center;
    }
    .newsletter-wrapper .newsletter-image{
        display: none;
    }
    .builder-banner-content{
        align-items: flex-start;
        padding-left: 60px;
    }
    .builder-banner-content .vertical-text{
        display: none;
    }
}
@media (min-width: 1000px) and (max-width: 1200px){
    .funding-building-growth-wrapper .funding{
        width: 270px;
    }
    .funding-building-growth-wrapper .funding .funding-content .funding-link {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        height: 120vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list {
        left: 0%;
    }
    .menu-list li {
        padding: 5px;
        list-style: none;
        font-weight: bold;
    }
    .menu-list li .active {
        color: #0590c7;
    }
    .menu-list li a:hover {
        color: #0590c7;
    }
    .menu-list li a {
        color: #a2a2a2;
        margin-top: 20px;
        display: block;
        text-decoration: none;
        font: normal normal 14px / 22px "arial", Helvetica, Arial, Verdana, sans-serif;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .menu-list li a:hover {
        color: #007bff;
    }
    #drop .sub-nav {
        background-color: transparent;
        box-shadow: 0px 0px 1px transparent;
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
    .newsletter-wrapper .newsletter-text h1{
        font-size: 25px;
        padding: 40px 0px 10px 0px;
    }
    .newsletter-wrapper .newsletter-text p{
        font-size: 16px;
        text-align: justify;
        padding: 15px;
    }
    .newsletter-section{
        padding: 45px 60px;
    }
    .newsletter-wrapper .newsletter-text{
        padding: 0px 10px 0px 40px;
        text-align: center;
    }
    .vechain-card-wrapper .card h4{
        max-width: 100%;
        font-size: 20px;
    }
    .vechain-card-wrapper .card ul {
        max-width: 100%;
    }
    .funding-building-growth-section {
        padding-bottom: 30px;
    }
    .funding-building-growth-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 700px) and (max-width: 950px){
    .funding-building-growth-wrapper .funding{
        width: 210px;
        flex-direction: column;
        align-items: center;
    }
    .funding-building-growth-bundle {
        padding: 5px;
    }
    .funding-building-growth-wrapper .funding .funding-content {
        width: 100%;
        height: 175px;
    }
    .funding-building-growth-wrapper .funding .funding-content .funding-link {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .funding-building-growth-wrapper .funding .funding-content h5 a {
        text-align: center;
    }
    .funding-building-growth-bundle h4 {
        padding-left: 13px;
    }
}
@media (max-width: 580px) {
    .newsletter-section{
        padding: 30px 50px;
    }
    .newsletter-wrapper .newsletter-text{
        padding: 0px 10px 0px 25px;
    }
    .newsletter-text a{
        margin: 0 auto;
    }
    .builder-banner-content{
        align-items: center;
        padding-left: 10px;
        margin-top: 20px;
    }
    .builder-banner-content {
        padding: 15px 5px 45px 10px;
    }
    .builder-banner-content h1{
        font-size: 45px;
        line-height: 55px;
    }
    .builder-banner-content p {
        text-align: left;
        padding-left: 17px;
        padding-bottom: 13px;
    }
    .builder-banner-content a{
        max-width: 220px;
    }
    .builder-banner-section .row>* {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .feature p {
        padding: 25px 10px;
        font-size: 14px;
        font-weight: normal;
    }
    .funding-building-growth-wrapper .funding{
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
    .funding-building-growth-bundle {
        padding: 0px 5px 0px 0px;
    }
    .funding-building-growth-wrapper .funding .funding-content {
        width: 100%;
        height: 165px;
    }
    .funding-building-growth-wrapper .funding .funding-content .funding-link {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .funding-building-growth-wrapper .funding .funding-content h5 a {
        text-align: center;
    }
    .funding-building-growth-bundle h4 {
        padding-left: 13px;
    }
}
@media (min-width: 400px) and (max-width: 500px){
    .feature p {
        padding: 25px 10px 25px 75px;
    }
}
@media (max-width: 380px) {
    .newsletter-section{
        padding: 10px 20px;
    }
    .newsletter-wrapper .newsletter-text{
        padding: 0px 10px 0px 20px;
    }
    .feature p {
        padding: 20px 10px;
    }
}

