@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

a{
    text-decoration: none;
}
.nav-wrapper{
    height: 60px;
    width: 100%;
    background-color: #2F353B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.nav-wrapper .nav-brand{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    margin-right: 7px;
}
.nav-wrapper .nav-brand img{
    height: 100%;
    width: 100%;
}
.nav-wrapper h4 a{
    font-family: sans-serif;
    padding-left: 5px;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    white-space: nowrap;
    letter-spacing: -2px;
}
.nav-left{
    max-width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
}
.search-bar{
    max-width: 250px;
    height: 40px;
    position: relative;
    margin-top: 4px;
}
.search-bar input{
    max-width: 230px;
    border: none;
    outline: none !important;
    background: #565d63;
    padding: 6px 2px;
    margin: 0px 20px;
    border-radius: 3px;
    color: #fff;
    padding-left: 30px;
}
.search-bar input::placeholder{
    padding-left: 20px 5px;
    color: #9B9B9B;
}
.search-bar i{
    position: absolute;
    left: 10%;
    top: 25%;
    color: #9B9B9B;
    font-weight: 600;
}
.nav-right h5 a{
    font-size: 16px;
    color: #fff;
    margin-right: 35px;
}






.discover-section{
    padding: 50px;
}
.discover-section h2{
    color: #3B4351;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
}
.discover-section .discover-wrapper{
    padding: 15px 0px;
}
.discover{
    min-width: 200px;
    min-height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5px solid rgb(223, 219, 219);
    border-radius: 3px;
    margin-bottom: 20px;
    padding-top: 8px;
}
.discover .discover-image{
    width: 60px;
    height: 60px;
    margin: 15px;
    display: flex;
    align-items: center;
}
.discover .discover-image img{
    width: 60px;
    height: 60px;
}
.discover .discover-content h5{
    font-size: 16px;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.discover .discover-content p{
    font-size: 14px;
    color: #111111;
    font-weight: 400;
    padding-right: 8px;
}

















@media (min-width: 1000px) and (max-width: 1200px){
    .discover .discover-content p{
        font-size: 13px;
        text-align: justify;
    }
}
@media (max-width: 580px){
    .nav-wrapper{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav-left {
        margin-left: 25px;
    }
    .nav-right h5{
        padding-right: 8px;
        margin-right: 0px;
    }
    .discover-section{
        padding: 50px 0px;
    }
    .search-bar{
        margin-right: 15px;
    }
}

@media (max-width: 380px){
    .nav-wrapper{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav-wrapper .nav-brand {
        height: 25px;
        width: 26px;
        margin-left: 4px;
        margin-right: 3px;
    }
    .nav-wrapper h4 a {
        font-family: sans-serif;
        padding-left: 3px;
        font-size: 17px;
    }
    .search-bar{
        max-width: 230px;
        height: 30px;
    }
    .search-bar input {
        max-width: 170px;
        padding: 5px 30px;
        margin: -3px 10px 0px 10px;
    }
    .search-bar input::placeholder{
        padding-left: 30px;
        color: #9B9B9B;
    }
    .nav-right h5 a{
        padding-right: 10px;
        margin-right: 0px;
    }
}