@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    background: transparent;
    color: black;
    display: flex;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
}
.navbar.sticky {
    background: #fff;
    padding: 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a img {
    height: 16px;
    width: 110px;
}
.navbar .menu-list {
    display: inline-flex;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}
.menu-list li {
    padding: 10px;
    list-style: none;
    font-weight: bold;
}
.menu-list li .active {
    color: #0590c7;
}
.menu-list li a:hover {
    color: #0590c7;
}
.menu-list li a {
    color: #a2a2a2;
    display: block;
    text-decoration: none;
    font: normal normal 14px / 22px "arial", Helvetica, Arial, Verdana, sans-serif;
    transition: all 0.3s ease;
}
.menu-list li a:hover {
    color: #007bff;
}
#drop .sub-nav {
    width: 110px;
    z-index: 200;
    background: #fff;
    color: #a2a2a2;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 0;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    font: normal normal 14px / 22px "arial", Helvetica, Arial, Verdana, sans-serif;
    visibility: hidden;
    display: none;
}
#drop {
    position: relative;
}
.sub-nav li a {
    display: block;
    width: 100%;
    padding: 0px;
    font: normal normal 14px / 22px "arial", Helvetica, Arial, Verdana, sans-serif;
}
#drop:hover .sub-nav {
    visibility: visible;
    display: block;
}
#plusBtn {
    position: absolute;
    right: -105px;
    top: 40%;
    font-size: 22px;
    color: #a2a2a2;
    display: none;
}
.banner {
    height: 110px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
}
.icon {
    color: #a2a2a2;
    font-size: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
}
.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/*********************************         Community-Banner-section       *************************/
.community-banner-section{
    width: 100%;
    height: 80vh;
    background: url("../../images/Community/Community\ Banner\ bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;
    background-position: center center;
}
.community-banner-section .community-content{
    max-width: 410px;
    height: 80vh;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.community-banner-section .community-content img{
    width: 72px;
    height: 72px;
    margin: 15px;
}
.community-banner-section .community-content h1{
    font-size: 80px;
    color: #333;
    font-family: 'Oswald';
    font-weight: bold;
    padding: 0px 15px 15px 25px; 
}
.community-banner-section .community-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #808080;
}
.community-banner-section .community-content a{
    display: block;
    font-size: 16px;
    padding: 8px 40px;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    margin: 20px 15px;
    transition: all 0.3s ease;
}
.community-banner-section .community-content a:hover{
    background: rgb(0, 0, 0);
    color: #fff;
}
/*********************************         community-services-section       *************************/
.community-services-section{
    width: 100%;
    height: auto;
    padding: 50px 0px 5px 0px;
    background: #f2f2f2;
}
.community-services-wrapper{
    max-width: 750px;
    margin: 0 auto;
}
.community-services-wrapper h4{
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: bold;
    color: #333333;
    margin-bottom: 30px;
}
.community-services-wrapper .community-image{
    width: 165px;
    height: 165px;
    margin-top: 20px;
    margin-bottom: 25px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
} 
.community-services-wrapper .community-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.community-text .content-links{
    padding-bottom: 9px;
}
.community-text .content-links a{
    display: block;
    font-size: 15px;
    color: rgb(12, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: bold;
}
.community-text .content-links p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #A2A2A2;
}







.developer-services-wrapper{
    max-width: 670px;
    margin:100px auto;
}
.developer-services-wrapper h4{
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: bold;
    color: #333333;
    margin-bottom: 30px;
    text-align: right;
}
.developer-services-wrapper .developer-image{
    width: 165px;
    height: 165px;
    margin-top: 20px;
    margin-bottom: 25px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    float: right;
} 
.developer-services-wrapper .developer-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.developer-text .developer-links{
    padding-bottom: 9px;
}
.developer-text .developer-links a{
    display: block;
    font-size: 15px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: bold;
}
.developer-text .developer-links p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #A2A2A2;
}

.community-link{
    text-align: center;
    padding: 20px 15px 80px 15px;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 600;
}
.community-link a{
    text-decoration: underline;
}
















/*********************************         building-vechain-section       *************************/
.building-vechain-section{
    background-image: linear-gradient(rgba(37,47,54,0.1),rgba(37,47,54,0.1)), url("../../images/Enterprise/Vechain-bg-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center center;
    height: 420px;
}
.building-vechain-section .building-vechain-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.building-vechain-content h2{
    font-family: Oswald;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
}
.building-vechain-content a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    padding: 10px 40px;
    border: 1px solid #fff;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

/*********************************         Newsletter Section       *************************/
.newsletter-section{
    background-color: #e5e5e5;
    width: 100%;
    margin-top: -20px;
    padding: 75px 100px;
}
.newsletter-wrapper{
    position: relative;
    max-width: 1140px;
    max-height: 400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 30px 0px;
}
.newsletter-wrapper .newsletter-text{
    padding: 0px 10px 0px 100px;
}
.newsletter-wrapper .newsletter-text h1{
    font-family: revert;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    color: #0a0a0a;
}
.newsletter-wrapper .newsletter-text p{
    font-family: arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #0a0a0a;
    margin: 15px 0px 40px 0px;
}
.newsletter-wrapper .newsletter-image{
    width: 570px;
    height: 400px;
    padding-top: 70px;
    margin-right: -10%;
}
.newsletter-image img{
    height: 300px;
    width: 300px;
}
.newsletter-text a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    height: 50px;
    border: 1px solid rgb(10, 10, 10);
    font-family: arial;
    letter-spacing: 1px;
    background-color: transparent;
    color: rgb(10, 10, 10);
}
/*********************************          Footer Section       *************************/
.footer-section{
    background-color: #023042;
    color: #fff;
}
.footer-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 25px 20px;
}
.footer-wrapper h1{
    font-size: 30px;
    font-family: revert;
    font-weight: 600;
}
.footer-wrapper hr{
    height: 1.5px;
    color: #fff;
    margin: 20px 0 25px 0;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer{
    width: 285px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.footer h4{
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 0 0 0;
}
.footer-items .footer ul li{
    list-style: none;
}
.footer-items .footer ul li a{
    display: block;
    font-size: 12px;
    color: #BFBFBF;
    padding: 5px 0;
    margin-left: -30px;
}
.social-icons li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.social-icons li a img{
    width: 30px;
    height: 30px;
}
.footer-copyright{
    font-size: 12px;
    color: #BFBFBF;
    text-align: center;
    display: block;
}
.footer-copyright a{
    color: #BFBFBF;
    display: inline-block;
}



/*********************************          Responsive Design       *************************/
@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 930px) {
    .banner {
        height: 85px;
    }
    .content {
        padding: 0 30px;
        height: 60px;
    }
    .content .logo img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
    }
    .newsletter-wrapper{
        justify-content: center;
    }
    .newsletter-wrapper .newsletter-image{
        display: none;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        height: 120vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list {
        left: 0%;
    }
    .menu-list li {
        padding: 5px;
        list-style: none;
        font-weight: bold;
    }
    .menu-list li .active {
        color: #0590c7;
    }
    .menu-list li a:hover {
        color: #0590c7;
    }
    .menu-list li a {
        color: #a2a2a2;
        margin-top: 20px;
        display: block;
        text-decoration: none;
        font: normal normal 14px / 22px "arial", Helvetica, Arial, Verdana, sans-serif;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .menu-list li a:hover {
        color: #007bff;
    }
    #drop .sub-nav {
        background-color: transparent;
        box-shadow: 0px 0px 1px transparent;
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
    .newsletter-wrapper .newsletter-text h1{
        font-size: 25px;
        padding: 40px 0px 10px 0px;
    }
    .newsletter-wrapper .newsletter-text p{
        font-size: 16px;
        text-align: justify;
        padding: 15px;
    }
    .newsletter-section{
        padding: 45px 60px;
    }
    .newsletter-wrapper .newsletter-text{
        padding: 0px 10px 0px 40px;
        text-align: center;
    }
    .community-banner-section{
        width: 100%;
        height: 70vh;
        background: #fff;
        margin-bottom: 30px;
    }
    .community-banner-section .community-content{
        max-width: 410px;
        height: 70vh;
    }
    .developer-services-wrapper .developer-image{
        float: none;
    }
    .community-services-section {
        padding: 50px 37px 5px 37px;
    }
    .developer-services-wrapper {
        margin: 20px auto;
        padding-left: 0px !important;
    }
    .developer-services-wrapper h4{
        text-align: left;
        padding: 15px;
    }
    .scale-link {
        text-align: center;
        padding: 60px 15px 50px 15px;
    }
}
@media (max-width: 580px) {
    .newsletter-section{
        padding: 30px 50px;
    }
    .newsletter-wrapper .newsletter-text{
        padding: 0px 10px 0px 25px;
    }
    .newsletter-text a{
        margin: 0 auto;
    }
    .community-banner-section{
        width: 100%;
        height: 55vh;
        background: #fff;
    }
    .community-banner-section .community-content{
        height: 57vh;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .building-vechain-content h2{
        font-size: 35px;
        padding-bottom: 0px;
    }
    .community-services-section {
        padding: 40px 0px 5px 0px;
    }
    .community-banner-section .community-content img {
        width: 55px;
        height: 55px;
        margin: 7px;
    }
    .community-banner-section .community-content h1{
        font-size: 40px;
    }
    .community-services-wrapper{
        padding-left: 18px;
    }
    .developer-services-wrapper {
        padding-left: 20px !important;
    }
    .community-link {
        text-align: center;
        padding: 0px 15px 27px 15px;
        margin-top: 50px;
        font-size: 14px;
        font-weight: 600;
    }
}

@media (max-width: 380px) {
    .newsletter-section{
        padding: 10px 20px;
    }
    .newsletter-wrapper .newsletter-text{
        padding: 0px 10px 0px 20px;
    }
    .building-vechain-content h2{
        font-size: 32px;
    }
    .community-banner-section .community-content h1{
        font-size: 40px;
    }
    .community-content p{
        font-size: 16px;
        padding: 0px 15px;
    }
}

